body {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background-image: url(images/img_bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    text-align: 0 auto;
}
.btn {
    position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
 }
